<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">

    <!-- Тест для створення завдання -->
    <test name="Create Task - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Task - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Task - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <!-- Тест для додавання коментаря -->
    <test name="Create Add Comment - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.AddCommentForTask.AddCommentForTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Add Comment - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.AddCommentForTask.AddCommentForTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Add Comment - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.AddCommentForTask.AddCommentForTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Close Task - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.CloseTask.CloseTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Close Task- Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.CloseTask.CloseTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Close Task- Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>

        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="ui.CreateTask.CreateTask" />
            <class name="ui.CloseTask.CloseTask" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>




    <test name="Create Project UI - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.CreateProject.CreateProject" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Project UI - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.CreateProject.CreateProject" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Create Project UI - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.CreateProject.CreateProject" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Login User User Valid - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.LoginTests.LoginTestsValid" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Login User User Valid - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.LoginTests.LoginTestsValid" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Login User Valid - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="ui.LoginTests.LoginTestsValid" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="Login User User Invalid - Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="ui.LoginTests.LoginTestsInvalid" />
        </classes>
    </test>

    <test name="Login User User Invalid - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="ui.LoginTests.LoginTestsInvalid" />
        </classes>
    </test>

    <test name="Login User Invalid - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="ui.LoginTests.LoginTestsInvalid" />
        </classes>
    </test>

    <test name="API Tests Create Project">
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.User.GetUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="api.Project.EnableProjectAPI" />
            <class name="api.Project.EnableProjectPublicAccessAPI" />
            <class name="api.Project.GetProjectByIdAPI" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="API Tests Task">
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.User.GetUserAPI" />
            <class name="api.Project.CreateProjectAPI" />
            <class name="api.Project.AddProjectUserAPI" />
            <class name="api.Project.EnableProjectAPI" />
            <class name="api.Project.EnableProjectPublicAccessAPI" />
            <class name="api.Project.GetProjectByIdAPI" />
            <class name="api.Project.GetColumnsAPI" />
            <class name="api.Task.CreateTaskAPI" />
            <class name="api.Task.GetTaskAPI" />
            <class name="api.Task.RemoveTaskAPI" />
            <class name="api.Project.RemoveProjectAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

    <test name="API User">
        <classes>
            <class name="api.User.CreateUserAPI" />
            <class name="api.User.GetUserAPI" />
            <class name="api.User.RemoveUserAPI" />
        </classes>
    </test>

</suite>
